* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.first-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;

  .header-contacts {
    display: flex;
    gap: 20px;
  }

  .social-links {
    display: flex;

    p {
      padding: 0 30px 0 0;
      font-size: 14px;
      font-weight: bold;
    }
  }
}

.second-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  .sign-links {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    a {
      display: inline-block;
      font-size: 15px;
      font-weight: bold;
      color: #f8172f;
      text-decoration: none;
      margin: 0 0 0 25px;
    }

    .fill {
      height: 38px;
      margin: 0;
      padding: 0 25px;
      line-height: 38px;
      color: #fff;
      background: #f8172f;
      border-radius: 19px;
    }
  }

  .right-side {
    display: flex;
    align-items: center;

    li {
      display: inline-block;
      padding: 0 15px;

      a {
        font-size: 15px;
        font-weight: bold;
        text-decoration: none;
        color: #000;
      }
    }
  }

  .left-side {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.index-first {
  padding: 75px 0 120px;
  display: flex;

  .image {
    width: 525px;
  }

  .info {
    width: 650px;

    p {
      padding: 0 0 60px;
      font-size: 16px;
      line-height: 1.63;
    }

    a {
      display: inline-block;
      height: 60px;
      padding: 0 40px;
      font-size: 18px;
      line-height: 60px;
      font-weight: bold;
      color: #fff;
      text-decoration: none;
      border-radius: 30px;
      background-color: #f8172f;
    }

    h2 {
      padding: 0 0 40px;
      font-size: 50px;
      font-weight: bold;
    }
  }
}

.index-values {
  padding: 0 0 160px;

  .icon {
    width: 60px;
    height: 60px;
    margin-left: 70px;
  }

  .figure {
    width: 20%;
    margin: 0;
    text-align: center;

    .figcaption {
      font-size: 16px;
      font-weight: bold;
      line-height: 1, 5;
      width: 200px;
    }
  }

  .section-header {
    padding: 0 0 80px;
    text-align: center;

    p {
      max-width: 480px;
      margin: 0 auto;
      font-size: 17px;
      line-height: 1, 47;
    }

    h2 {
      padding: 0 0 30px;
      font-size: 50px;
      font-weight: bold;
    }
  }

  .section-title {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

.index-services {
  .figure {
    height: 340px;
    float: left;
    margin: 0 60px 50px 0;
    text-align: center;
    box-shadow: inset 0 0 0 1px #e1e1e1;
    position: relative;
    border-radius: 10px;

    p {
      padding: 0 25px;
      font-size: 15px;
      line-height: 1.47;
      width: 360px;
    }

    h3 {
      padding: 0 25px 40px;
      font-size: 18px;
      font-weight: bold;
    }

    .icon {
      height: 160px;
      padding: 10px 0 0;

      img {
        width: 70px;
      }
    }
  }
  .section-header {
    padding: 0 0 80px;
    text-align: center;

    p {
      max-width: 480px;
      margin: 0 auto;
      font-size: 17px;
      line-height: 1, 47;
    }

    h2 {
      padding: 0 0 30px;
      font-size: 50px;
      font-weight: bold;
    }
  }

  .section-title {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

.index-runner {
  padding: 160px 0 230px;
  display: flex;

  .image {
    width: 475px;
    margin: 0 -32px 0 0;

    img {
      width: 475px;
    }
  }
  .left-side {
    width: 725px;

    .section-header {
      padding: 0 0 70px;

      h2 {
        padding: 0 0 30px;
        font-size: 50px;
        font-weight: bold;
      }

      p {
        max-width: 480px;
        font-size: 17px;
        line-height: 1.47;
      }
    }
  }
}

.runner-grid {
  div {
    width: 228px;
    height: 209px;
    padding: 40px 10px 40px;
    text-align: center;
    background: #fff;
    border-radius: 16px;
    border: none;

    p {
      font-size: 16px;
      line-height: 1.56;
    }

    strong {
      display: block;
      padding: 0 0 30px;
      font-size: 50px;
      font-weight: bold;
      color: #f8172f;
    }
  }
}

#runner-article {
  padding: 0 0 150px;

  .index-article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 820px;
    padding: 0 20px;
    margin: 0 auto;
  }

  a {
    display: inline-block;
    height: 60px;
    padding: 0 40px;
    font-size: 18px;
    line-height: 60px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    background: #f8172f;
    border-radius: 30px;
  }

  .inner {
    width: calc(100% - 310px);

    h2 {
      padding: 0 0 30px;
      font-size: 34px;
      font-weight: bold;
      line-height: 1.24;
      width: 470px;
    }

    p {
      padding: 0 0 40px;
      font-size: 15px;
      line-height: 1.67;
    }
  }

  .image {
    width: 271px;
  }
}

#section-work {
  padding: 0 0 80px;
  background-image: url(/img/become_bg.png);
  background-size: cover;

  .image {
    padding: 0 120px 0 0;
    margin: -70px 0 0;

    img {
      max-width: 434px;
    }
  }

  .btn {
    display: inline-block;
    height: 60px;
    padding: 0 40px;
    font-size: 18px;
    line-height: 60px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    background: #f8172f;
    border-radius: 30px;
  }

  .index-become {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .inner {
    width: 480px;
    padding: 120px 0 0;

    h2 {
      padding: 0 0 30px;
      font-size: 36px;
      font-weight: bold;
      line-height: 1.11;
    }

    p {
      padding: 0 0 50px;
      font-size: 16px;
      line-height: 1.63;
    }
  }
}
